$text-color: #e5e5e5;
$red-color: #ff0000;

.header {
    height: 2.5rem;
    width: auto;
    background-color: $text-color;
    border-bottom: 2px solid #c6c7c8;
}

.title {
    color: $text-color;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 300;

}

.form {
    padding: 2rem 1rem 2rem 2rem;
    background-color: #102b96;
}

.fields {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;

    &:last-of-type {
        padding: 0;
    }
}

.lable-field,
.input-field {
    width: 30%;
}

.input-style {
    height: 1.8rem;
    width: 100%;
    min-width: 10rem;
}

.accepted {
    min-width: 1.8rem !important;
    width: auto !important;
}

.input-text {
    color: $text-color;
    font-size: 1.7rem;
    font-weight: bold;
}

.error.required {
    position: absolute;
    left: 1rem;
}

.error.custom {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 1rem;
}

.btnValiadate {
    width: 5rem;
    height: 1.8rem;
    border-radius: 0.3rem;
    border-color: transparent;
    background-color: #efefef;
    font-size: 1.3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.control-wrapper {
    width: 40%;
    font-size: 1.7rem;
    font-weight: bold;
    color: $red-color;
    position: relative;
}

.error {
    visibility: hidden;
}

.error-border {
    border: 1px $red-color solid;
}

.fields.field-error {
    &.required {
        .error.required {
            visibility: visible;
        }
    }

    &.custom {
        .error.custom {
            visibility: visible;
        }
    }
}